*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cointeiner {
    width: 100%;
    display: flex;
    justify-content: center;
}
.selectedImage {
    width: 800px;
    height: 580px;
    margin-top:3rem;
    position: relative;
   

}
.imgone {
    width: 800px;
    height: 580px;
}
.imgstyle {
    width: 280px;
    height: 113px;
    position:relative;
    overflow:hidden;
}
.list {
    list-style: none;

}
.listImage {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}
.titolo {   
    position: absolute;
   top: 95%;
   left: 48%;
   float: left;
   z-index: 3;
   -webkit-transform: translateY(-100%) translateX(-50%);
   color: white;
   font-size: 30px;
   width: 100%;
   text-align: end;
}
.sottotitolo {
    position: absolute;
    top: 100%;
    left: 49%;
    float: left;
    z-index: 3;
    -webkit-transform: translateY(-100%) translateX(-50%);
    color: white;
    width: 100%;
    font-size: 15px;
    text-align: right;
}
.frecciaup{
    position: absolute;
    left: 80%;
    top: 10%;
    z-index: 3;
    background-color: rgba(204, 204, 204, 1);
    border-radius: 20px;
    padding: 5px;
    
}
.frecciadown {
    position: absolute;
    top: 98%;
    left: 80%;
    float: left;
    z-index: 3;
    -webkit-transform: translateY(-100%) translateX(-50%);
    background-color: rgba(204, 204, 204, 1);
    border-radius: 20px;
    padding: 5px;
}
.unselectedImg{
    filter: opacity(0.5);
}
.selected {
    border: 7px solid white;
}